---
// Component Imports
import Layout from "../components/Layout.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
// absolute w-full bottom-1/2 top-1/2
---
<Layout>
	<div class="hero min-h-[89.3vh]">
		<div class="hero-overlay bg-opacity-60"></div>
		<div class="hero-content text-center text-neutral-content">
			<div class="max-w-lg">
				<p class="mb-5 text-5xl font-bold">Welcome to my blog</p>
			</div>
		</div>
	</div>
</Layout>
