---
import "../layouts/baseStyles.astro";
---
<div class="navbar text-white items-center shrink-0 object-none max-w-fit">
    <div class="flex-1">
        <h1 class="text-2xl font-bold">Selfhost</h1>
    </div>
    <div class="">
        <a href="/blog" class="btn bg-black border-2 border-white rounded-none">Blog</a>
    </div>
</div>