---
import "../layouts/baseStyles.astro";
---
<style lang="scss">
    .global-nav {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 0.8rem;
    }
</style>

<div class="text-white global-nav">
    <div class="flex-1">
        <h1 class="text-2xl font-bold">Selfhost</h1>
    </div>
    <div class="">
        <a href="/blog" class="btn bg-black border-2 border-white rounded-none">Blog</a>
    </div>
</div>